.artist-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #181818;
  padding: 14px 18px;
  border-radius: 14px;
  transition: 0.2s;
  gap: 14px;
}

.artist-card:hover {
  background: #242424;
}

.artist-cover img {
  width: 55px;
  height: 55px;
  background: #333;
  border-radius: 10px;
}

.artist-info {
  flex: 1;
}

.artist-info h4 {
  margin-bottom: 4px;
  font-size: 1rem;
}

.artist-info p {
  color: #b3b3b3;
  font-size: 0.9rem;
}

/* .song-duration {
  color: #b3b3b3;
  font-size: 0.9rem;
} */